body {
	background-color: grey
}
h1 {
	font-family: sans-serif;
	font-weight: normal;
	line-height: 12px;
	color : white;
}
h2 {
	font-family: arial;
	font-weight: normal;
	line height: 10px;
	color : white;
}
p { 
	font-family: sans-serif;
	font-weight: normal;
	font-style: italic;
	color : white;
 }